{% extends '::base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('bundles/karolinekroissgallery/css/gallery.css') }}" />
    <br />
    <div class="row">
        <img src="{{ image.webPathOrigin }}" width="960px" />
        {{ include('KarolineKroissGalleryBundle:Gallery:image/description.html.twig', { 'image': image }) }}
    </div>
{% endblock %}
